table
{
    width:60;
}

th, td
{
   border: 1px solid black;
   text-align: center;
}

th
{
    background-color: rgb(142, 201, 183);
    font-weight: bold;
}

tbody tr:nth-child(even)
{
    background-color:rgb(77, 0, 128);
}

tbody tr:nth-child(odd)
{
    background-color:rgb(138, 5, 226);
}

tbody tr:hover
{
    background-color: rgb(183, 179, 226);
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: slategrey;
}